.navbar {
    margin: 0;
    padding: 0;
    background-color: #20716a;
    margin-bottom: 20px;
    img {
        max-width: 160px
    }
    .nav-item {
        display: flex;
        align-items: center;
        a.nav-link:link {
            color: rgba(255, 255, 255, 0.7);
        }
        a.nav-link:visited {
          color: #b9ffb9;
        }
    }
}
