<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading && !!user.business.length">
    <h4 class="card-header">
        Current bottles ({{bottlesArray.length}})
    </h4>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">barcode</th>
                </tr>
            </thead>
            <tbody *ngIf="bottlesArray.length === 0">
                <tr>
                    <td colspan="4">
                        There are no bottles associated with your business yet.
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
                <tr *ngFor="let bottle of bottlesArray">
                    <td>{{bottle.name || bottle.brand}}</td>
                    <td>{{bottle.barcode}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<div></div>