<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<div *ngIf="!isLoading && business">
  <div class="card">
    <h4 class="card-header">{{ business.name }}: ({{ business.zipCode }})</h4>
    <div class="card-body">
      <form [formGroup]="businessForm" (ngSubmit)="update()">
        <h4>Business Information</h4>
        <hr>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-building"></i>
                </span>
            </div>
            <input class="form-control" type="text" name="name" formControlName="name" placeholder="Business Name">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                </span>
            </div>
            <input class="form-control" type="text" name="zipCode" formControlName="zipCode" placeholder="Business Zip Code">
        </div>
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-save"></i>
          Save
      </button>
    </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      Business Users
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="users.length === 0">
          <tr>
            <td colspan="4">There are no registered users.</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let u of users">
            <td>{{ u.firstName }} {{ u.lastName }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
            <td>
              action
            </td>
          </tr>
        </tbody>
      </table>
      Business Devices
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Serial Number</th>
            <th scope="col">Type</th>
            <th scope="col">Added Date</th>
          </tr>
        </thead>
        <tbody *ngIf="devices.length === 0">
          <tr>
            <td colspan="4">There are no registered devices.</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let d of devices">
            <td>{{ d.serialNumber }}</td>
            <td>{{ d.type }}</td>
            <td>
              {{ d.addedDate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
