.table td,
.table th {
  width: 25%;
}

.bottle-listing {
  display:flex;
}

.bottle-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:200px;
  height: 200px;
  flex-direction: column;
  background-color: #cccfff;
  margin: 10px;
  padding:5px;
}

.bottle-stat-listing {

}

.bottle-stat-item {
  display: grid;
  border: 1px solid #cccfff;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  padding:10px;
}

.bottle-stat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

