<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3">
    <h4 class="card-header row content">
        <div class="col-md-8">
          Current bottle stats ({{bottleStats.length}})
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <button class="btn btn-sm btn-info" (click)="exportData()">
            <i class="fa fa-download"></i> Export
          </button>
        </div>
    </h4>
    <div class="card-body">
        <canvas #myChart></canvas>
        <!-- <div class="bottle-listing">
            <div class="bottle-item" *ngFor="let bottle of bottlesArray">
                <div>{{bottle.name || bottle.brand}}</div>
                <div>{{bottle.barcode}}</div>
            </div>
        </div> -->

        <!-- <div class="card" *ngIf="!isEditing">
            <h4 class="card-header">Add new bottleStat</h4>
            <div class="card-body">
                <form class="form-inline" [formGroup]="addBottleStatForm" (ngSubmit)="addBottleStat()">

                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                        <input class="form-control mr-2" type="text" name="barcode" formControlName="barcode" placeholder="barcode">
                        <input class="form-control mr-2" type="number" name="weight" formControlName="weight" placeholder="Weight" step="any" min="0">
                        <button class="btn btn-primary" type="submit" [disabled]="!addBottleStatForm.valid">
                            <i class="fa fa-plus"></i>
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div> -->
        <div class="bottle-stat-listing">
            <div class='bottle-stat-item'>
                <div>Name</div>
                <div>Date</div>
                <div>Barcode</div>
                <div>Weight (g)</div>
                <div>Action</div>
            </div>
            <div *ngFor="let bottleStat of bottleStats" class='bottle-stat-item'>
                <div class='bottle-stat-cell'>
                    {{bottleStat.bottle[0].name || bottleStat.bottle[0].brand}}
                </div>
                <div>{{bottleStat.date | date}}</div>
                <div>{{bottleStat.barcode}}</div>
                <div>{{bottleStat.weight}}</div>
                <button class="btn btn-sm btn-danger ml-1" (click)="deleteBottleStat(bottleStat)">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
