/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #effffd;
    color: grey;
}

.input-group {
    margin-bottom: 15px;
}

.card {
    min-width: 400px;
    border: none;
    box-shadow: 0 4px 6px rgba(206, 224, 222, 0.5);
}

.card-header {
    background-color: #bcffec;
}

.has-danger .form-control {
    border-color: red;
}