<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
    <h4 class="card-header">Account settings</h4>
    <div class="card-body">
        <form #accountForm="ngForm" (ngSubmit)="save(user)">
            <div class="input-group">
                <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name" required>
                <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>
                <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
                <i class="fa fa-save"></i>
                Save
            </button>
        </form>
    </div>
</div>
<br>
<div class='card'>
  <h4 class="card-header">Business settings</h4>
  <div class="card-body">
      <div *ngIf='user.business[0].name'>
          <div *ngFor='let b of user.business'>
              {{b.name}} {{b.zipCode}}
          </div>
      </div>
  </div>
</div>
<br>
<div class='card'>
    <h4 class="card-header">Plan settings</h4>
    <div class="card-body">
        <div *ngIf='customer !== {} && !!customer.subscriptions && customer.subscriptions.data.length'>
            <div *ngFor='let subscription of customer.subscriptions.data'>
                {{subscription.plan.nickname}} {{subscription.status}} {{(subscription.created * 1000) | date}}
            </div>
        </div>
    </div>
</div>
