<app-toast [message]="toast.message"></app-toast>
<div class='password-reset-view'>

    <div *ngIf='!verificationToken && !resetLinkSentSuccessfully' class="card">
        <h4 class="card-header">Reset password reset link</h4>
        <div class="card-body">
            <form [formGroup]="passwordResetForm" (ngSubmit)="submitPasswordResetRequest()">
                <div class="input-group" [ngClass]="setClassEmail()">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!passwordResetForm.valid">
                    <i class="fa fa-user-plus"></i>
                    Submit
                </button>
            </form>
        </div>
    </div>
    <div *ngIf='!verificationToken && resetLinkSentSuccessfully' class='success-message'>
        <h3>
            Check your email for a link to reset your password
        </h3>
    </div>

    <div *ngIf='!!verificationToken' class="card">
        <h4 class="card-header">Reset your password</h4>
        <div class="card-body">

            <form *ngIf='!passwordResetSuccessfully' [formGroup]="passwordVerifyForm" (ngSubmit)="submitPasswordUpdateRequest()">
                <div class="input-group" [ngClass]="setClassEmail()">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input class="form-control" type="password" name="password" formControlName="password" placeholder="Enter new password">
                </div>
                <div class="input-group" [ngClass]="setClassEmail()">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input class="form-control" type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!passwordVerifyForm.valid">
                    <i class="fa fa-user-plus"></i>
                    Submit
                </button>
            </form>
        </div>
    </div>
    <div *ngIf='verificationToken && passwordResetSuccessfully' class='success-message'>
        <h3>Password successfully reset!</h3>
    </div>
</div>